{% extends 'master.html' %}
{% block head %}
{% endblock %}

{% block content %}
    <br><br><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h4 class="text-center">TOTAL DE INCIDENCIAS DE DELITOS</h4>
                <canvas id="pieG"></canvas>
            </div>
        </div>
        <br><br><br><br>
        <div class="row justify-content-center">
            <div class="col-10">
                <h4 class="text-center">INCIDENCIAS DE DELITOS EN EL TIEMPO</h4>
                <canvas id="lineG"></canvas>
            </div>
        </div>
    </div>
    <br><br><br><br>
{% endblock %}

{% block scripts %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/js/mdb.min.js"></script>

    <script>
        //pie
        var ctxP = document.getElementById("pieG").getContext('2d');
        var ctxL = document.getElementById("lineG").getContext('2d');
        var myPieChart = new Chart(ctxP, {
            type: 'pie',
            data: {
                labels: [{% for lb in labels %} "{{ lb }}",{% endfor %}],
                datasets: [{
                    data: [{{ data }}],
                    backgroundColor: [{% for bc in bColor %} "{{ bc }}",{% endfor %}],
                    hoverBackgroundColor: [{% for hc in hColor %} "{{ hc }}",{% endfor %}]
                }]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'left',
                    labels: {
                        boxWidth: 10,
                        fontSize: 10
                    }
                }
            }
        });
        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {
                labels: [{% for m in meses %} "{{ m }}",{% endfor %}],
                datasets: [
                    {% for l in lista %}
                        {
                            label: "{{ l.delito }}",
                            data: [{{ l.data }}],
                            backgroundColor: ["{{ l.hColor }}"],
                            borderColor: ["{{ l.bColor }}"],
                            borderWidth: 2
                        },
                    {% endfor %}
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'left',
                    labels: {
                        boxWidth: 10,
                        fontSize: 10
                    }
                },
            }
        });

    </script>
{% endblock %}