{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    <title>Mapas</title>
    {% block head %} {% endblock %}
</head>

<body>
{% include 'nav.html' %}
{% block content %} {% endblock %}
{% block scripts %} {% endblock %}
</body>

</html>